{% extends 'base.html' %}

{% block content %}
<form action="{% url 'posts:update' id=post.id %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="title" class="form-label">제목</label>
      <input type="text" class="form-control" id="title" name="title" value="{{post.title}}">
      <!-- 문법적인 규칙으로 input은 닫는태그가 없으므로 value에 넣어주고
            textarea는 ><사이공간에 넣어주는 것 -->
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">내용</label>
      <!-- <input type="password" class="form-control" id="content"> -->
      <textarea class="form-control" id="content" cols="30" rows="10" name="content">{{post.content}}</textarea>
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
  



{% endblock %}